@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
